body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
}
fieldset{
    display: flex;
    border: none;
    padding: none;
    margin: none;
}
main{
    display: flex;
    flex-direction: column;
}


/*Primeiro menu*/
.menusup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botvoltar{
    border-radius: 1000px;
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

.botsobre{
    border-radius: 1000px;
    height: 50px;
    width: 50px;
    margin-top: 20px;
}



/*Segundo menu*/
.encimbot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/*Terceiro menu*/
.op{
    display: flex;
    flex-direction: column;
}

.pain1{
    display: flex;
    flex-direction: row;        
}
.pain2{
    display: flex;
    flex-direction: row;
}
.pain3{
    display: flex;
    flex-direction: row;
}
.pain4{
    display: flex;
    flex-direction: row;
}
.botp{
    width: 130px;
    height: 90px;
}